<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Voting App</title>
<head>
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand font-weight-bold" th:href="@{/admin/polllist}" sec:authorize="hasRole('ROLE_ADMIN')" style="font-size: 1.5em;">PollMaster</a>
                <a class="navbar-brand font-weight-bold" th:href="@{/user/pollspage}" sec:authorize="hasRole('ROLE_USER')" style="font-size: 1.5em;">PollMaster</a>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1.5em;">
                            Menu
                        </a>
                        <div class="dropdown-menu font-weight-bold" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item font-weight-bold" href="#" th:href="@{/admin/admindetails}" sec:authorize="hasRole('ROLE_ADMIN')" style="font-size: 1.2em;">
                                <i class="fas fa-user"></i> My Profile
                            </a>
                            <a class="dropdown-item font-weight-bold" href="#" th:href="@{/user/userdetails}" sec:authorize="hasRole('ROLE_USER')" style="font-size: 1.2em;">
                                <i class="fas fa-user"></i> My Profile
                            </a>   
                            <a class="dropdown-item font-weight-bold" href="#" th:href="@{/logout}" style="font-size: 1.2em;">
                                <i class="fas fa-sign-out-alt"></i> Sign Out
                            </a>                     
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>
</html>