<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Polls Page</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container-fluid">
        <div th:if="${successMessage}">
            <div class="card-body text-center">
                <div class="alert alert-success text-center" th:text="${successMessage}"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="height: 131px;margin-top: 75px;">
                    <div class="col text-capitalize text-center font-weight-bold"  th:each="poll : ${Polls}" style="height: 250px;">
                            <a class="btn btn-primary"
                               style="height: 88px;width: 175px;margin-right: 30px;margin-left: 30px;border-radius: 15px;background: rgb(228, 197, 233);"
                               th:href="@{'/user/getpoll/' + ${poll.id}}" th:text="${poll.id}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>