<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Polls Page</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-5">
        <div th:if="${successMessage}">
            <div class="alert alert-success text-center" th:text="${successMessage}"></div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger text-center" th:text="${error}"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row" th:each="category : ${Categories}">
                    <div class="col-md-4 mb-4">
                        <a class="btn btn-primary btn-block text-capitalize font-weight-bold"
                           style="height: 88px; border-radius: 15px; background: rgb(228, 197, 233);"
                           th:href="@{'/user/getpoll/' + ${category.id}}" th:text="${category.c_name}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>