<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Polls Page</title>
    <style>
        .btn-custom {
            height: 80px;
            border-radius: 15px;
            background: rgb(94, 6, 171);
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-custom:hover{
            background: rgb(142, 62, 211);
        }
        .btn-custom i {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-5">
        <div th:if="${successMessage}">
            <div class="alert alert-success text-center" th:text="${successMessage}"></div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger text-center" th:text="${error}"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" th:each="category, iterStat : ${Categories}">
                    <div th:if="${iterStat.index < 4}" class="col-12 mb-4">
                        <a class="btn btn-primary btn-block text-capitalize font-weight-bold btn-custom"
                        th:href="@{'/admin/polls/' + ${category.id} + '/results'}">
                            <i class="fas fa-poll"></i>
                            <span th:text="${category.c_name}"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" th:each="category, iterStat : ${Categories}">
                    <div th:if="${iterStat.index >= 4}" class="col-12 mb-4">
                        <a class="btn btn-primary btn-block text-capitalize font-weight-bold btn-custom"
                        th:href="@{'/admin/polls/' + ${category.id} + '/results'}">
                            <i class="fas fa-poll"></i>
                            <span th:text="${category.c_name}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>